# **Central Tendency**

In [1]:
#Import the required libraries (just one time)
import numpy as np
from scipy import stats

In [2]:
#Define the list of data
salary = [102, 33, 26, 27, 30, 25, 33, 33, 24]

In [3]:
#Length of the salary list
length = len(salary)
print("Length of the Salary:", length)

Length of the Salary: 9

In [4]:
#Find the mean of the salary
mean_salary = np.mean(salary)
print("Mean of the Salary:", mean_salary)

Mean of the Salary: 37.0

In [5]:
#Find the median of the salary
median_salary = np.median(salary)
print("Median of the Salary:", median_salary)

Median of the Salary: 30.0

In [6]:
#Find the mode of the salary
mode_salary = stats.mode(salary)
print("Mode of the Salary:", mode_salary)

Mode of the Salary: ModeResult(mode=array([33]), count=array([3]))

# **Min & Max & Range**

In [7]:
#Define the list of data
data = [32, 36, 46, 47, 56, 69, 75, 79, 79, 88, 89, 91, 92, 93, 96, 97, 101, 105, 112, 116]

In [8]:
#Find the minimum of the data
min_data = np.min(data)
print("Minimum of the Data:", min_data)

Minimum of the Data: 32

In [9]:
#Find the max of the data
max_data = np.max(data)
print("Maximum of the Data:", max_data)

Maximum of the Data: 116

In [10]:
#Find the range of the data
range_data = np.max(data) - np.min(data)
print("Range of the Data:", range_data)

Range of the Data: 84

In [11]:
#Find the range of the data
range_data = np.ptp(data)
print("Range of the Data:", range_data)

Range of the Data: 84

# **Q1 & Q2 & Q3 & IQR**

In [12]:
#Define the list of the data
data = [32, 36, 46, 47, 56, 69, 75, 79, 80, 88, 89]

In [13]:
#First Quartile (Q1) of the data
q1_data = np.percentile(data, 25)
print("Q1 of the Data:", q1_data)

Q1 of the Data: 46.5

In [14]:
#First Quartile (Q1) of the data
q1_data = np.quantile(data, 0.25)
print("Q1 of the Data:", q1_data)

Q1 of the Data: 46.5

In [15]:
#Second Quartile (Q2) of the data
q2_data = np.percentile(data, 50)
print("Q2 of the Data:", q2_data)

Q2 of the Data: 69.0

In [16]:
#Second Quartile (Q2) of the data
q2_data = np.quantile(data, 0.5)
print("Q2 of the Data:", q2_data)

Q2 of the Data: 69.0

In [17]:
#Second Quartile (Q2) of the data
q2_data = np.median(data)
print("Q2 of the Data:", q2_data)

Q2 of the Data: 69.0

In [18]:
#Third Quartile (Q3) of the data
q3_data = np.percentile(data, 75)
print("Q3 of the Data:", q3_data)

Q3 of the Data: 79.5

In [19]:
#Third Quartile (Q3) of the data
q3_data = np.quantile(data, 0.75)
print("Q3 of the Data:", q3_data)

Q3 of the Data: 79.5

In [20]:
# Interquaritle range (IQR) of the data
iqr_data = np.percentile(data, 75) - np.percentile(data, 25)
print("IQR of the Data:", iqr_data)

IQR of the Data: 33.0

In [21]:
# Interquaritle range (IQR) of the data with scipy stats
iqr_data = stats.iqr(data)
print("IQR of the Data:", iqr_data)

IQR of the Data: 33.0

In [ ]:
#Draw a boxplot of the data
import matplotlib.pyplot as plt
plt.boxplot(data);

In [ ]:
#Draw a boxplot of the data with an outlier
data2 = [32, 36, 46, 47, 56, 69, 75, 79, 80, 88, 89, 145]
plt.boxplot(data2);

# **Standard Deviation and Variance**

In [ ]:
#Define the list of data
data = [32, 36, 46, 47, 56, 69, 75, 79, 80, 88, 89]

In [ ]:
#Find the variance of the data
var_data = np.var(data)
print("Variance of the Data:", var_data)

In [ ]:
#Find the standard deviation of the data
std_data = np.std(data)
print("Standard Deviation of the Data:", std_data)

In [ ]:
#Find the standard deviation of the data using the formula
std_data = np.sqrt(np.var(data))
print("Standard Deviation of the Data:", std_data)